.notes__inner {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(240, 245, 189);
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px #dbdbdb;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}